
::ng-deep .black-toast.p-toast-message {
    background: #000000 !important; 
    color: #ffffff !important;      
    border: none !important;
    border-radius: 0px !important;  
    box-shadow: 0 10px 30px rgba(0,0,0,0.3) !important;
}

::ng-deep .black-toast .p-toast-message-content {
    border-left: 5px solid #ffffff !important; 
    padding: 1.5rem !important;
}

::ng-deep .black-toast .p-toast-summary {
    font-weight: 700 !important;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 0.5px;
}

::ng-deep .black-toast .p-toast-detail {
    font-weight: 300 !important;
    color: #cccccc !important;
}

::ng-deep .black-toast .p-toast-message-icon,
::ng-deep .black-toast .p-toast-icon-close {
    color: #ffffff !important;
}